<%= form_for(@release) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="release">
    <div class="field">
      <div class="labelWrapper"><%= f.label :name %>:</div>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <div class="labelWrapper"><%= f.label :description %>:</div>
      <%= f.text_area :description, placeholder: 'optional' %>
    </div>
    <div class="field">
      <div class="labelWrapper"><%= f.label :component_ids, 'Components' %>:</div>
      <%= f.collection_select :component_ids, Component.order(:name), :id, :name, {}, {multiple: true} %>

    </div>
  </div>
  <div class="releaseControls">
    <div class="actions">
      <%= link_to raw('&larr; Back to releases'), releases_path, :class => 'custom-button' %>
      <%= f.submit 'Save Release', :class => 'custom-button' %>
    </div>
    <div class="clear"></div>
  </div>

<% end %>
